<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bandwidth SIP Handler</title>
<!-- <link href="font/css/styles.min.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
<link href="css/inputs.css" rel="stylesheet">
<link href="css/buttons.css" rel="stylesheet">
<link href="css/tables.css" rel="stylesheet"> -->
<link href="https://d3l0ifulerbodr.cloudfront.net/main.css" rel="stylesheet">
<style>
    .main-container{
        width: 75%;
        max-width: 800px;
        margin: 0 auto;
    }
    .main-container button{
        float: right;
    }
    .table-wrap{
        margin-top: 5em;
        clear: both;
        overflow-y: hidden;
    }
    .wss-text{
        float:left;
        display:inline;
        display: flex;
        flex-direction: row;
    }
    .wss-text>* {
        margin: auto;
        display: inline;
        line-height: 1em;
    }
    .wss-text code{
      border-radius: 3px 0px 0px 3px;
      border-right: 0px;
    }
    .wss-button{
        max-height: 95%;
        max-width: 95%;
    }
    .copy{
      border-radius: 0px 3px 3px 0px !important;
      font-size: .85em !important;
    }
    .copyButton{
      background-image: url('Clipboard-100.png') !important;
      background-size: contain !important;
      background-position: center !important;
    }
    .deleteButton{
      background-image: url('Delete-100.png') !important;
      background-size: contain !important;
      background-position: center !important;
      float: none !important;
      border: none !important;
    }
    .table-button{
        max-height: 99%;
        max-width: 99%;
    }
    .td>* {
        margin: auto;
        display: inline;
        line-height: 1em;
    }
    td code{
      vertical-align: -webkit-baseline-middle;
    }
</style>
</head>
<body>
<div class="main-container">
    <h1>Bandwidth SIP Handler</h1>
    <hr />
    <br />
<!-- Start component HTML -->
    <div class="wss-text">
        <h3>Websocket URI: <code>wss://webrtc.registration.bandwidth.com:10443</code></h3>
        <button class="btn iconic iconic--secondary iconic--small iconic--light copy copyButton" data-clipboard-text="wss://webrtc.registration.bandwidth.com:10443"></button>

<!--         <button class="btn button button--secondary button--small button--light button--hover-go button--right" data-clipboard-text="wss://webrtc.registration.bandwidth.com:10443">Copy</button> -->
    </div>
    <div class="inline-wrap">
        <div class="form-input blocks clearfix required">
            <label for="input-text">SIP Username</label>
            <input type="text" value="" id="username" />
            <div class="help">Must be unique to the domain!</div>
        </div>
        <div class="form-input blocks clearfix required">
            <label for="input-text">SIP Password</label>
            <input type="text" value="" id="password" />
            <div class="help">Must be at least 6 characters!</div>
        </div>
    </div>
    <button class="button button--medium button--submit button--hover-go button--right" id="maskedNumberButton">Create new SIP Endpoint</button>
    <div class="table-wrap">
        <table cellpadding="0" cellspacing="0" class="small" id='maskedNumbersTable'>
            <thead>
                <tr>
                    <th>SIP URI</th>
                    <th>Password</th>
                    <th>Telephone Number</th>
                    <th>Enabled</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody id='maskedNumbersTableBody'>
            </tbody>
        </table>
    </div>
</div>
<!-- End component HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/0.4.9/libphonenumber-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="js/base.js"></script>
<script src="js/index.js"></script>
<scirpt src="js/tables.js"></scirpt>
<script type="text/javascript">
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
<script type="text/javascript">

    var getMaskedNumbers = function () {
        var maskedNumberParams = {
            method: 'GET',
            mode: 'cors'
        }
        var maskeNumberRequest = new Request('./v1/bindings', maskedNumberParams);
        return fetch(maskeNumberRequest)
        .then(function (response) {
            return response.json();
        })
        .then(function (j) {
            console.log(j);
            return j;
        })
    }

    var makeSIPEndpoint = function (username, password) {
        var maskedNumberParams = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: username,
                password: password
            })
        };
        console.log(maskedNumberParams);
        var maskeNumberRequest = new Request('./v1/bindings', maskedNumberParams);
        var isOk;
        return fetch(maskeNumberRequest)
        .then(function (response) {
            isOk = response.ok
            return response.json();
        })
        .then(function (j) {
            if(isOk) {
                return j;
            }
            else {
                throw new Error(j.error);
                return;
            }
        });
    }

    var makeCopyButton = function (data) {
        return '<button class="btn iconic iconic--secondary iconic--small iconic--light copyButton" data-clipboard-text=' + data+ '></button>'
    }

    var makeTableRow = function (sipUri, password, number, enabled, uuid, newRow=false) {
        var sipUriCopyButton = makeCopyButton(sipUri);
        var passwordCopyButton = makeCopyButton(password);
        var toggle = makeToggle(enabled, uuid)
        var deleteButton = makeDeleteButton(uuid)
        var tableRow = ''
        if (newRow) {
            tableRow = '<tr id="tr-' + uuid + '" class="new-row"><td class="new-cell"><code>'
        }
        else {
            tableRow = '<tr id="tr-' + uuid + '"><td><code>'
        }
        tableRow = tableRow + sipUri + sipUriCopyButton + '</code></td><td><code>' + password + passwordCopyButton + '</code></td><td>' + libphonenumber.format(number, 'US', 'National') + '</td><td>' + toggle + '</td><td>' + deleteButton + '</td></tr>'
        return tableRow;
    }

    var makeDeleteButton = function (uuid) {
        return '<button onclick="deleteEndpoint(this)" class="btn iconic iconic--secondary iconic--small iconic--light deleteButton" uuid=' +uuid+ '></button>'
    }

    var makeToggle =function (enabled, uuid) {
        var toggleId = 'toggle-' + uuid;
        var toggleText = 'Disable';
        var checked = 'checked'
        if (!enabled) {
            toggleText = 'Enable';
            checked = ''
        }
        var toggle =    '<div class="toggle clearfix">'+
                            '<input type="checkbox" onchange="toggleEndpoint(this)" id="'+toggleId+'" '+ checked +' />' +
                            '<label for="'+toggleId + '">' + toggleText + '</label>' +
                        '</div>'
        return toggle;
    }

    var submitNumbers = function () {
        var username = $('#username').val();
        var password = $('#password').val();
        if (username === '' && password === '') {
            alert('Please put both username and password');
        }
        else {
            return makeSIPEndpoint(username, password)
            .then(function (response) {
                $('#username').val('');
                $('#password').val('');
                var sipUri = response.sipUri;
                var number = response.number;
                var password = response.password;
                var uuid = response.uuid;
                var enabled = response.enabled;
                var tableRow = makeTableRow(sipUri, password, number, enabled, uuid, true);
                $('#maskedNumbersTableBody').prepend(tableRow);
            })
            .catch(function (error) {
                alert(error);
            })

        }
    };

    $('#password').keyup(function (event) {
        if(event.keyCode == 13){
            submitNumbers();
        }
    });

    $('#maskedNumberButton').click(submitNumbers);

    var deleteSIPEndpoint = function (uuid) {
        var deleteParms = {
            method: 'DELETE',
            mode: 'cors'
        }
        var deleteRequest = new Request('./v1/bindings/' + uuid, deleteParms);
        var isOk = true;
        return fetch(deleteRequest)
        .then(function (response) {
            isOk = response.ok
        })
        .then(function (j) {
            if(isOk) {
                return j;
            }
            else {
                throw new Error(j.error);
                return;
            }
        });
    }

    var updateSIPEndpoint = function (uuid, enabled) {
        var updateParams = {
            method: 'POST',
            mode: 'cors',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                enabled: enabled
            })
        };
        var updateRequest = new Request('./v1/bindings/' + uuid, updateParams);
        var isOk = true;
        return fetch(updateRequest)
        .then(function (response) {
            isOK = response.ok;
            return response.json();
        })
        .then(function (j) {
            if(isOk) {
                return j;
            }
            else {
                throw new Error(j.error);
                return;
            }
        });
    }


    var deleteEndpoint = function (param) {
        var uuid = $(param).attr('uuid');
        var result = confirm("Are you sure you want to delete?");
        if (result) {
            deleteSIPEndpoint(uuid)
            .then(function () {
                var trId = '#tr-'+uuid;
                $(trId).remove();
            })
            .catch(function (error) {
                alert(error);
            });
        }

    };

    var toggleEndpoint = function (param) {
        console.log(param)
        var id = $(param).attr('id');
        var uuid = id.replace('toggle-', '');
        var label = 'label[for="' + id + '"]';
        var enabledValue = $(label).text();
        var enabled = false;
        var html = 'Enable'
        if (enabledValue === 'Enable') {
            enabled = true
            html = 'Disable'

        }
        updateSIPEndpoint(uuid, enabled)
        .then(function () {
            $(label).html(html);
        })
        .catch(function (error) {
            alert(error);
        })
    }


    var updateTable = function (sipBindings) {
        sipBindings.forEach( (entry) => {
            var sipUri = entry.sipUri;
            var number = entry.number;
            var password = entry.password;
            var enabled = entry.enabled;
            var uuid = entry.uuid;
            var tableRow = makeTableRow(sipUri, password, number, enabled, uuid);
            $('#maskedNumbersTableBody').append(tableRow);
        })
    }
    //makeMaskedNumbers('+19197891146', '+14153084916');
    getMaskedNumbers()
    .then(updateTable);
</script>
</body>
</html>
