<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<title>Bandwidth SIP Handler</title>
<!-- <link href="font/css/styles.min.css" rel="stylesheet">
<link href="css/base.css" rel="stylesheet">
<link href="css/inputs.css" rel="stylesheet">
<link href="css/buttons.css" rel="stylesheet">
<link href="css/tables.css" rel="stylesheet"> -->
<link href="https://d3l0ifulerbodr.cloudfront.net/main.css" rel="stylesheet">
<style>
    .main-container{
        width: 60%;
        max-width: 700px;
        margin: 0 auto;
    }
    .main-container button{
        float: right;
    }
    .table-wrap{
        margin-top: 5em;
        clear: both;
    }
    .wss-text{
        float:left;
        display:inline;
        display: flex;
        flex-direction: row;
    }
    .wss-text>* {
        margin: auto;
        display: inline;
        line-height: 1em;
    }
</style>
</head>
<body>
<div class="main-container">
    <h1>Bandwidth SIP Handler</h1>
    <hr />
    <br />
<!-- Start component HTML -->
    <div class="wss-text">
        <h3>Websocket URI: <code>wss://webrtc.registration.bandwidth.com:10443</code></h3> <button class="btn button button--secondary button--small button--light button--hover-go button--right" data-clipboard-text="wss://webrtc.registration.bandwidth.com:10443">Copy</button>
    </div>
    <div class="inline-wrap">
        <div class="form-input blocks clearfix required">
            <label for="input-text">SIP Username</label>
            <input type="text" value="" id="username" />
            <div class="help">Must be unique to the domain!</div>
        </div>
        <div class="form-input blocks clearfix required">
            <label for="input-text">SIP Password</label>
            <input type="text" value="" id="password" />
            <div class="help">Must be at least 6 characters!</div>
        </div>
    </div>
    <button class="button button--submit button--hover-go button--right" id="maskedNumberButton">Create new SIP Endpoint</button>
    <div class="table-wrap">
        <table cellpadding="0" cellspacing="0" class="small" id='maskedNumbersTable'>
            <thead>
                <tr>
                    <th>SIP URI</th>
                    <th>Password</th>
                    <th>Telephone Number</th>
                </tr>
            </thead>
            <tbody id='maskedNumbersTableBody'>
            </tbody>
        </table>
    </div>
</div>
<!-- End component HTML -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/libphonenumber-js/0.4.9/libphonenumber-js.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.6.0/clipboard.min.js"></script>
<script src="js/base.js"></script>
<script src="js/index.js"></script>
<scirpt src="js/tables.js"></scirpt>
<script type="text/javascript">
    var clipboard = new Clipboard('.btn');
    clipboard.on('success', function(e) {
        console.log(e);
    });
    clipboard.on('error', function(e) {
        console.log(e);
    });
</script>
<script type="text/javascript">

    var getMaskedNumbers = function () {
        var maskedNumberParams = {
            method: 'GET',
            mode: 'cors'
        }
        var maskeNumberRequest = new Request('./v1/bindings', maskedNumberParams);
        return fetch(maskeNumberRequest)
        .then(function (response) {
            return response.json();
        })
        .then(function (j) {
            console.log(j);
            return j;
        })
    }

    var makeSIPEndpoint = function (username, password) {
        var maskedNumberParams = {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                name: username,
                password: password
            })
        };
        console.log(maskedNumberParams);
        var maskeNumberRequest = new Request('./v1/bindings', maskedNumberParams);
        var isOk;
        return fetch(maskeNumberRequest)
        .then(function (response) {
            isOk = response.ok
            return response.json();
        })
        .then(function (j) {
            if(isOk) {
                return j;
            }
            else {
                throw new Error(j.error);
                return;
            }
        });
    }

    var makeCopyButton = function (data) {
        return '<button class="btn" data-clipboard-text="' + data +'">Copy</button>'
    }

    var makeTableRow = function (sipUri, password, number) {
        var sipUriCopyButton = makeCopyButton(sipUri);
        var passwordCopyButton = makeCopyButton(password);
        var tableRow = '<tr><td><code>' + sipUri + sipUriCopyButton + '</code></td><td><code>' + password + passwordCopyButton + '</code></td><td>' + libphonenumber.format(number, 'US', 'National') + '</td></tr>'
        return tableRow;
    }

    var makeNewTableRow = function (sipUri, password, number) {
        var sipUriCopyButton = makeCopyButton(sipUri);
        var passwordCopyButton = makeCopyButton(password);
        var tableRow = '<tr class="new-row"><td class="new-cell"><code>' + sipUri + sipUriCopyButton + '</code></td><td><code>' + password + passwordCopyButton + '</code></td><td>' + libphonenumber.format(number, 'US', 'National') + '</td></tr>'
        return tableRow;
    }

    var submitNumbers = function () {
        var username = $('#username').val();
        var password = $('#password').val();
        if (username === '' && password === '') {
            alert('Please put both username and password');
        }
        else {
            return makeSIPEndpoint(username, password)
            .then(function (response) {
                $('#username').val('');
                $('#password').val('');
                var sipUri = response.sipUri;
                var number = response.number;
                var password = response.password;
                var tableRow = makeNewTableRow(sipUri, password, number);
                $('#maskedNumbersTableBody').prepend(tableRow);
            })
            .catch(function (error) {
                alert(error);
            })

        }
    };

    $('#username').keyup(function (event) {
        if(event.keyCode == 13){
            submitNumbers();
        }
    });

    $('#password').keyup(function (event) {
        if(event.keyCode == 13){
            submitNumbers();
        }
    });

    $('#maskedNumberButton').click(submitNumbers)

    //makeMaskedNumbers('+19197891146', '+14153084916');
    getMaskedNumbers()
    .then(function (maskedNumbers) {
        maskedNumbers.forEach( (entry) => {
            var sipUri = entry.sipUri;
            var number = entry.number;
            var password = entry.password;
            var tableRow = makeTableRow(sipUri, password, number);
            $('#maskedNumbersTableBody').append(tableRow);
        })
    })
</script>
</body>
</html>
